.skeletons {
   display: flex;
   flex-direction: column;
   gap: 0.7rem;
   margin-top: 1.25rem;
}

.skeleton {
   background-color: var(--grey-20);
   height: 1rem;
   width: 13rem;
   border-radius: 0.5rem;
}
