.header__wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
   border: 1px solid black;
   border-radius: 0.6rem;
   padding: 1.25rem;
}

.header__right {
   display: flex;
   gap: 1.25rem;
   align-items: center;
}
