.button {
   cursor: pointer;
}

.userName {
   font-weight: var(--font-weight-medium);
   font-size: var(--font-size-sm);
   color: var(--color-text-primary);
   padding: var(--spacing-xs) var(--spacing-sm);
}

.light {
   color: var(--color-text-primary);
}

.dark {
   color: var(--color-text-primary);
}
