.filters {
   display: flex;
   gap: 2rem;
   margin-bottom: 1.25rem;
}

.skeletons {
   display: flex;
   gap: 2rem;
   margin-bottom: 1.25rem;
}

.skeleton {
   background-color: var(--grey-20);
   height: 3rem;
   width: 8rem;
   border-radius: 0.7rem;
}
